.dart_tool
.firebase
.flutter-plugins
.flutter-plugins-dependencies
build
exports
lib/firebase_options.dart
lib/oneofus_fire.dart
firestore-debug.log
yotam.json
lisa.json
lisa2.json
bart2.json
simpsonsDemo.json
simpsonsDemo2.json
firebase-debug.log
.nerdster_emulator.pid
.oneofus_emulator.pid
nerdster_emulators.log
oneofus_emulators.log
demo-nerdster.json
demo-oneofus.json
DEMO.json