body {
  font-family: "Courier New", Courier, monospace;
  background: #ffffff;
  color: #202124;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  padding: 8px 16px;
}
header img {
  height: 24px;
  margin-right: 8px;
}
header h1 {
  font-size: 14pt;
  margin: 0;
  font-weight: normal;
  color: #202124;
}
main {
  margin: auto;
  padding: 48px 32px 62px 48px;
}
h2 {
  font-size: 34pt;
  margin: 32px 0 16px;
  font-weight: bold;
  color: #188038;
}
ul {
  list-style-type: square;
  margin: 0 0 20px 24px;
  padding: 0;
}
ul ul {
  margin-bottom: 0; /* Remove bottom margin for nested lists */
}
p {
  margin: 12px 0;
  font-size: 12pt;
  color: #202124;
}
a {
  color: #1155cc;
  text-decoration: underline;
}
iframe {
  width: 100%;
  height: 600px;
  border: 1px solid #dadce0;
  margin: 24px 0;
}
footer {
  text-align: center;
  padding: 24px;
  font-size: 12pt;
  border-top: 1px solid #dadce0;
  margin-top: 48px;
}

